<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Спасибо за регистрацию ${name} </title>
    <style>
        h1 {
            color: #fa001d;
            text-align: center;
        }
        h2 {
            color: #00ff60;
            text-align: center;
        }
    </style>
</head>
<body>
<h1 class="center">Уважаемый, ${name}! Пройдите для подтверждения почты по ссылке ниже</h1>
<a href="${confirm_code}" class="center">Ссылка</a>
</body>
</html>
